.card {
  min-height: 300px;
  width: max(45vw, 350px);

  padding: 2.5em min(6em, 6vw);
  padding-right: 19vw;

  background-size: cover;
  color: white;

  @media (max-width: 1400px) {
    padding-right: 15vw;
  }
}
