.root {
  position: relative;
  width: 950px;
  overflow: hidden;

  padding: 1rem;
  padding-inline: 25%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8vw;

  position: absolute;
  @media (max-width: 1224px) {
    animation: marquee 25s linear infinite;
  }
}

.marquee {
  position: relative;
  height: 5rem;
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -950px; /* same as your text width */
  }
}
