/*----------typography---------*/

$ff-sans: "Nunito Sans", sans-serif;
$ff-sans-secondary: "Rubik", sans-serif;

$fs-300: 0.875rem;
$fs-400: 1rem;
$fs-500: 1.25rem;
$fs-600: 2.188rem;
$fs-700: 3.5rem;

$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 900;

$line-height3: 65px;
$line-height2: 32px;
$line-height: 25px;

/*----------colors---------*/
$color-light: white;
$color-dark: black;
$color-primary: rgba(146, 3, 3, 1);

/*----------z-index---------*/
$z-index1: 1000;
$z-index2: 2000;
$z-index3: 3000;
