@import "../../style/variables";
@import "../../style/mixins";
.root {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  @include owlTop(1rem);

  img[role="shop-link"] {
    margin-right: 0.5em;
    cursor: pointer;
  }

  p {
    line-height: $line-height2;
    font-size: $fs-500;
    font-weight: $fw-light;
  }

  p[role="banner"] {
    max-width: max(70%, 280px);
    font-family: $ff-sans-secondary;
  }

  h1 {
    font-size: $fs-700;
    line-height: $line-height3;
    font-weight: $fw-bold;
  }

  h2 {
    font-size: $fs-600;
    font-weight: $fw-bold;
  }
}

.highlightRed {
  span {
    background-color: $color-primary;
  }
}

.highlightBlack {
  span {
    background-color: $color-dark;
    color: $color-light;
  }
}
