@import "../../style/variables";
.root {
  cursor: pointer;
  background-color: $color-primary;

  padding: 0.8em 2.5em;
  max-width: fit-content;

  font-family: inherit;
  font-weight: $fw-black;
  color: $color-light;

  border-radius: 10px;

  img {
    height: 10px;
  }

  &:hover {
    background-color: darken($color-primary, 5%);
  }

  &:active {
    background-color: darken($color-primary, 8%);
    transform: translateY(1px);
  }
}
