.swiper {
  width: 100%;
  min-height: 60vh;
}

.swiper-slide {
  display: flex;
  justify-content: flex-end;
  gap: clamp(5rem, 15vw, 500px);

  &Adwrapper {
    height: auto;
    max-width: 400px;
    padding: 2rem;
  }

  @media (max-width: 900px) {
    flex-direction: column-reverse;
    gap: 0;

    &Adwrapper {
      max-width: 900px;
    }
  }

  [role="image"] {
    min-width: 50vw;
    min-height: 50vh;
  }
}

.swiper-pagination {
}
